{% extends "../layout.njk" %}

{% block content %}
    <form class="chef-form" action="/admin/chefs" method="POST">
        <div class="top-container">
            <h3>Criando chef</h3>
            <button type="submit" class="button">Salvar chef</button>

        </div>
        
        {% include './fields.njk' %}

    </form>


{% include './add-field.njk' %}

{% endblock content %}