{% extends "layout-admin.njk" %}

{% block content %}
    <form class="recipe-form" action="/admin/recipes" method="POST">
        <div class="top-container">
            <h3>Criando chef</h3>
            <button type="submit" class="button">Salvar chef</button>

        </div>
        
        {% include 'admin/fields.njk' %}

    </form>


{% include 'admin/add-field.njk' %}

{% endblock content %}