<div class="chef-item">
    <div>Nome</div>
        <div class="name">
            <input
                type="text"
                name="name"
                placeholder=""
            value="{{ chef.name }}"
            >
        </div>
</div>

<div class="chef-item">
    <div>Avatar</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="https://"
            value="{{ chef.avatar_url }}"
        >
    </div>
</div>
