{% extends "../layout.njk" %}


{% block content %}
    <div class="admin content">
        <div class="manage">
            <h2>Gerenciar chefs</h2> 
        </div>

        <section class="admin cards chefs">
            {% for chef in chefs %}
                <div class="admin card chef" id={{chefs.indexOf(chef)}}>
                    <div class="admin chef-avatar">
                        <img src={{chef.avatar_url}} alt="Imagem de {{ chef.title }}">
                    </div>
                    <div class="chef-info">
                        <div class="admin chef-name">
                            <h3>{{ chef.name }}</h3>
                        </div>
                        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
            
        </section>
    </div>
        
    {# <script src="/scripts.js"></script> #}
{% endblock content %}
