{% extends "layout-admin.njk" %}

{% block content %}
    <div class="top-container">
        <h3>Criando receita</h3>
        <a href="/admin/recipes/{{recipeIndex}}/edit" class="button">Salvar receita</a>
    </div>
    <form class="" action="/admin/recipes" method="POST">

    </form>


    <script src="/scripts.js"></script>
{% endblock content %}