<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <link rel="icon" href="https://image.flaticon.com/icons/svg/817/817282.svg" type="image/x-icon" />
        <link rel="stylesheet" href="/styles.css">
        
    {% block title %}
        <title>Foodfy</title>
    {% endblock title %}

</head>
<body>
    <header>
        <a href="/">
            <img src="/assets/logo.png" alt="Logo marca">        
        </a>
        <a href="/about-foodfy">Sobre</a>
        <a href="/recipes">Receitas</a>
    </header>

    {% block content %}
    {% endblock content %}
    
    <div id="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
    
</body>
</html>