<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/817/817282.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/recipes.css">

    <title>Foodfy</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/assets/logo.png" alt="Logo marca">        
        </a>
        <a href="/about-foodfy">Sobre</a>
        <a href="" id="recipes">Receitas</a>
    </header>

    <div class="content">

        <section class="cards">

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/burger.png" alt="Triplo bacon burger">
                </div>
                <div class="recipe-name">
                    <h3>Triplo bacon burger</h3>
                </div>
                <div class="author-recipe">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/pizza.png" alt="Pizza 4 estações">
                </div>
                <div class="recipe-name">
                    <h3>Pizza 4 estações</h3>
                </div>
                <div class="author-recipe">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/espaguete.png" alt="Espaguete ao alho">
                </div>
                <div class="recipe-name">
                    <h3>Espaguete ao alho</h3>
                </div>
                <div class="author-recipe">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese">
                </div>
                <div class="recipe-name">
                    <h3>Lasanha mac n' cheese</h3>
                </div>
                <div class="author-recipe">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                </div>
                <div class="recipe-name">
                    <h3>Docinhos pão-do-céu</h3>
                </div>
                <div class="author-recipe">
                    <p>por Ricardo Golveia</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                </div>
                <div class="recipe-name">
                    <h3>Asinhas de frango ao barbecue</h3>
                </div>
                <div class="author-recipe">
                    <p>por Vania Steroski</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/burger.png" alt="Triplo bacon burger">
                </div>
                <div class="recipe-name">
                    <h3>Triplo bacon burger</h3>
                </div>
                <div class="author-recipe">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/pizza.png" alt="Pizza 4 estações">
                </div>
                <div class="recipe-name">
                    <h3>Pizza 4 estações</h3>
                </div>
                <div class="author-recipe">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/espaguete.png" alt="Espaguete ao alho">
                </div>
                <div class="recipe-name">
                    <h3>Espaguete ao alho</h3>
                </div>
                <div class="author-recipe">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/lasanha.png" alt="Lasanha mac n' cheese">
                </div>
                <div class="recipe-name">
                    <h3>Lasanha mac n' cheese</h3>
                </div>
                <div class="author-recipe">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                </div>
                <div class="recipe-name">
                    <h3>Docinhos pão-do-céu</h3>
                </div>
                <div class="author-recipe">
                    <p>por Ricardo Golveia</p>
                </div>
            </div>

            <div class="card">
                <div class="recipe-image">
                    <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                </div>
                <div class="recipe-name">
                    <h3>Asinhas de frango ao barbecue</h3>
                </div>
                <div class="author-recipe">
                    <p>por Vania Steroski</p>
                </div>
            </div>
        </section>
    </div>
    <div id="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <p>Fechar</p>
            </a>

            <div class="modal-content">
                <div class="card">
                    <div class="recipe-image">
                        <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                    </div>
                    <div class="recipe-name">
                        <h3>Asinhas de frango ao barbecue</h3>
                    </div>
                    <div class="author-recipe">
                        <p>por Vania Steroski</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>

</body>
</html>