{% extends "layout.njk" %}


{% block title %}
    <title>Receitas - Foodfy</title>
{% endblock title %}


    {% block content %}
    
        <div class="content">

            <section class="cards">
                {% for recipe in recipes %}
                    <div class="card" id={{recipe.id}}>
                        <div class="recipe-image">
                            <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
                        </div>
                        <div class="recipe-name">
                            <h3>{{ recipe.title }}</h3>
                        </div>
                        <div class="author-recipe">
                            <p>por {{ recipe.author }}</p>
                        </div>
                    </div>
                {% endfor %}

            </section>
        </div>
        
        <script src="/scripts.js"></script>

    {% endblock content %}
