<div class="recipe-item">
    <div>Imagem da receita</div>
    <div>
        <input
            type="url"
            name="image"
            placeholder="https://"
            value="{{ recipe.image }}"
        >
    </div>
</div>

<div class="recipe-item">
    <div>Ingredientes</div>
    <div id="ingredients">
        {% if recipe.ingredients %}
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                    <input
                        type="text"
                        name="ingredients[]"
                        placeholder="Ingrediente"
                    value="{{ ingredient }}"
                    >
                </div>
            {% endfor %}
        {% else %}
            <div class="ingredient">
                <input
                    type="text"
                    name="ingredients[]"
                    placeholder="Ingrediente"
                value="{{ ingredient }}"
                >
            </div>
        {% endif %}
    </div>

    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="recipe-item">
    <div>Modo de preparo</div>
    <div id="steps">
        {% if recipe.preparation %}
            {% for step in recipe.preparation %}
                <div class="step">
                    <input
                        type="text"
                        name="preparation[]"
                        placeholder=""
                    value="{{ step }}"
                    >
                </div>
            {% endfor %}
        {% else %}
            <div class="step">
                <input
                    type="text"
                    name="preparation[]"
                    placeholder=""
                value=""
                >
            </div>
        {% endif %}
    </div>

    <button type="button" class="add-step">Adicionar novo passo</button>
</div>

<div class="recipe-item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
    </div>
</div>